In [23]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data_file = "/home/olle/PycharmProjects/LODE/workspace/sequence_data/longitudinal_properties.csv"
naive_data_file = "/home/olle/PycharmProjects/LODE/workspace/sequence_data/check_naive_patients_CORRECTED.csv"

data_pd = pd.read_csv(data_file)
naive_data_pd = pd.read_csv(naive_data_file, sep=",|;")

data_pd.head()

/home/olle/miniconda3/envs/DeepRT/lib/python3.7/site-packages/ipykernel_launcher.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  # Remove the CWD from sys.path while we load stuff.

,Unnamed: 0,sequence,study_date_1,total_fluid_1,time_range_1,time_range_before_1,time_range_after_1,insertion_type_1,cur_va_rounded_1,next_va_1,...,next_va_24,intra_retinal_fluid_24,sub_retinal_fluid_24,srhm_24,fibrovascular_ped_24,choroid_24,drusen_24,rpe_24,epiretinal_membrane_24,fibrosis_24
0,0,18_R,2017-10-24,0.001141,NaN,NaN,NaN,NaN,0.40,0.494850,...,NaN,0.002282,0.000074,0.007628,0.021696,2.288639,0.103669,0.442962,0.000166,0.000000
1,1,502_L,2017-07-04,0.002359,NaN,NaN,NaN,NaN,0.30,0.200659,...,NaN,0.004142,0.058838,0.011731,0.655212,0.781128,0.018328,0.483630,0.004739,0.013973
2,2,502_R,2016-04-04,0.000534,NaN,NaN,NaN,NaN,0.10,0.494850,...,0.078451,0.000267,0.001013,0.000821,0.095364,1.753434,0.065789,0.489890,0.001536,0.000401
3,4,709_L,2016-08-08,0.270185,NaN,NaN,NaN,NaN,0.30,0.397940,...,0.886057,0.038588,0.001382,0.064977,0.193780,1.385576,0.000991,0.347591,0.080791,0.494781
4,5,709_R,2015-11-25,0.716147,NaN,NaN,NaN,NaN,0.89,1.000000,...,1.544068,1.018247,0.048512,0.039779,0.651050,0.914542,0.003375,0.169883,0.007661,0.834233

In [24]:
naive_data_pd

,Unnamed: 0,patient_id,laterality,first_injection_date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Naive,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,0,18,R,2017-09-26,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,502,L,2017-07-04,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1: naive,2: ex domo,3: in domo,4: after,00:00
2,2,709,L,2016-08-08,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1263,L,2015-07-31,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1263,R,2015-08-14,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,426,359944,R,2018-07-19,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427,427,360270,L,2017-11-30,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428,428,363725,R,2018-02-08,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,429,365435,L,2018-03-06,NaN,NaN,NaN,NaN,NaN,1,rtp+ava,NaN,NaN,NaN,NaN,NaN,NaN
430,430,365484,L,2018-03-07,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### format naive pd

In [25]:
naive_data_pd = naive_data_pd[["patient_id", "laterality", "first_injection_date", "Naive"]]
naive_data_pd["sequence"] = naive_data_pd["patient_id"].astype(str) + "_" + naive_data_pd["laterality"]

/home/olle/miniconda3/envs/DeepRT/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
naive_data_pd

     patient_id laterality first_injection_date  Naive  sequence
0            18          R           2017-09-26      1      18_R
1           502          L           2017-07-04      1     502_L
2           709          L           2016-08-08      1     709_L
3          1263          L           2015-07-31      1    1263_L
4          1263          R           2015-08-14      1    1263_R
..          ...        ...                  ...    ...       ...
426      359944          R           2018-07-19      1  359944_R
427      360270          L           2017-11-30      1  360270_L
428      363725          R           2018-02-08      1  363725_R
429      365435          L           2018-03-06      1  365435_L
430      365484          L           2018-03-07      1  365484_L

[431 rows x 5 columns]

In [27]:
print(f"Number of sequences in data pd {data_pd.shape[0]} number of in naive pd {naive_data_pd.shape[0]}")

Number of sequences in data pd 829 number of in naive pd 431

#### merge tables

In [30]:
sequence_naive_pd = pd.merge(naive_data_pd, data_pd, left_on="sequence", right_on="sequence", how="left")

In [36]:
sequence_naive_pd = sequence_naive_pd.dropna(subset=["Naive"])

# filter for naive records 
naive_bool = (sequence_naive_pd.Naive == 1) | (sequence_naive_pd.Naive == 4)

print("number of naive sequences are: ", sum(naive_bool))

number of naive sequences are:  375

In [37]:
#### save naive longitudinal properties table

In [39]:
save_path = "/home/olle/PycharmProjects/LODE/workspace/sequence_data/longitudinal_properties_naive.csv"
sequence_naive_pd.loc[naive_bool].to_csv(save_path)